{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [ "last 2 versions" ]
        }
      }
    ],
    "stage-3"
  ],
  "plugins": [
    "add-module-exports",
    "dynamic-import-node"
  ]
}
